<div class="row"   id="footer">
    <div class="col-sm-4 col-xs-12 text-left" style="padding-top:10px">
    Carlos Santos Mateo<br />
    <a href ="http://www.gobo.tv">gobo.tv</a><br />
    <a href ="mailto:carlos@gobo.tv">carlos@gobo.tv</a><br />
    cel: (044) 442 237 5965
  </div>

  <div class="col-sm-4 col-xs-12 text-center" style="">
    <a href="http://www.gobo.tv"><img src="{{ site.baseurl }}/assets/logoVerde.png" alt="logo_gobo" /></a>
  </div>
  
  <div class="col-sm-4 col-xs-12 text-center" style="padding-top:10px">
    <a href="http://creativecommons.org/licenses/by-nd/4.0/">
      <img src="{{ site.baseurl }}/assets/chooser_cc.png" alt="logo_cc" />
      <img src="{{ site.baseurl }}/assets/chooser_nd.png" alt="logo_cc" />
      <img src="{{ site.baseurl }}/assets/chooser_by.png" alt="logo_cc" />
    </a>
  </div> 
</div>