 <div markdown="1" class="col-md-12"   id="footer">
   <div class="col-md-6 col-xs-12" style="padding-top:10px">
       <img src="{{ site.baseurl }}/assets/logoVerde.png" alt="logo_gobo" />
    </div>
    <div class="col-md-6 col-xs-12" style="padding-top:20px; text-align:right">
       <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">
       <img src="{{ site.baseurl }}/assets/chooser_cc.png" alt="logo_cc" />
       <img src="{{ site.baseurl }}/assets/chooser_nd.png" alt="logo_cc" />
       <img src="{{ site.baseurl }}/assets/chooser_by.png" alt="logo_cc" />
       </a>
    </div> 
 </div>


 

