<div class="row"   id="footer">
    <div class="col-sm-6 col-xs-12 text-left" style="padding-top:10px">
     //logo CursoABF
  </div>  
  <div class="col-sm-6 col-xs-12 text-right" style="padding-top:10px">
    <a href="http://creativecommons.org/licenses/by-nd/4.0/">
      <img src="{{ site.baseurl }}/assets/chooser_cc.png" alt="logo_cc" />
      <img src="{{ site.baseurl }}/assets/chooser_nd.png" alt="logo_cc" />
      <img src="{{ site.baseurl }}/assets/chooser_by.png" alt="logo_cc" />
    </a>
  </div> 
</div>